<div class="row">
    <div class="col-xs-12 m-4">
        <img [src]="article.imagePath" 
             alt="{{ article.title }}"
             class="img-fluid rounded"
             style="max-height: 300px;">
    </div>
</div>
<div class="mb-3">
    <button type="button" class="btn btn-outline-primary btn-sm mr-2" (click)="onEditArticle()">Edit article</button>
    <button type="button" class="btn btn-outline-danger btn-sm mr-2" (click)="onDeleteArticle()">Delete article</button>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <h3>{{ article.title }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ article.content }}
    </div>
</div>