<div class="row justify-content-center">
    <div class="col-md-4">
      <div class="alert alert-danger" *ngIf="error">
        {{ error }}
      </div>
      <div class="alert alert-success" *ngIf="success">
        {{ success }}
      </div>
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" 
                       class="form-control" 
                       id="name" 
                       placeholder="Enter your full name"
                       ngModel
                       name="name"
                       required>
              </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" 
                     class="form-control" 
                     id="email" 
                     placeholder="Enter email"
                     ngModel
                     name="email"
                     required
                     email>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" 
                     class="form-control" 
                     id="password" 
                     placeholder="Enter password"
                     ngModel
                     name="password"
                     required
                     minlength="6">
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary mr-2" [disabled]="!signUpForm.valid">Sign In</button>
              <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </form>
    </div>
</div>